body{
	margin: 0;
	font-family: Palatino;
	max-width: 100%;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: whitesmoke;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}
header h1, h2{
	color: darkslategray;
	font-size: 30px;
	text-align: center;
}
h3{
	color: darkslategray;
	font-size: 18px;
	text-align: left;
	padding: 50px;
}
header img{
	border: 1px solid darkslategray;
	max-width: 100%;
}
main{
	max-width: 100%;
	margin: 0 auto;
	padding: 20px;
}
main img{
	max-width: 100%;
}
p {
	font-size: 15px;

}
button {
	background-color: darkslategray;
	color: whitesmoke;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: whitesmoke;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: darkslategray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: silver;
  color: whitesmoke;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: darkslategray;
  color: whitesmoke;
}






